<% include common/default_top.ejs %>
		<div class="page-header">
			<h1 class="text-error"><%= code %> - An error has occurred.</h1>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<p><b><i class="icon-warning-sign"></i> <%= error.message %></b></p>
			</div>
		</div>
<%
if(env == "development") {
	var stack = (error.stack || '').split('\n').slice(1).map(function(v){ return '<li>' + v + '</li>'; }).join(''); // code from errorHandler.js (ExpressJS/Connect<)
-%>
		<style>
			ul {
				margin: 0;
				list-style-type: none;
			}
		</style>
		<div class="row_fluid">
			<pre><ul><%- stack %></ul></pre>
		</div>
<%
}
-%>
		<div class="row-fluid">
			<div class="span12">
				<a href="/" class="btn btn-success">Go back to front</a>
			</div>
		</div>
<% include common/default_bottom.ejs %>