@css {
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
}

clearfix()
  visibility: hidden
  display: block
  font-size: 0
  content: " "
  clear: both
  height: 0

// Change some bootstrap things
h1, h2, h3, h4, h5, h6
  margin: 0


body
  font-family: 'Open Sans'
  background-image: url('/images/witewall_3.png')

.container
  background-color: #fdfdfd
  border-radius: 8px
  box-shadow: 0 0 8px #ccc
  margin-bottom: 3em
  margin-top: 3em
  padding: 1em
  position: relative

.main-title
  text-align: center


//Feed
.feed
  margin-top:1em

.thread
  background-color: #f0f0f0
  border-radius: 0.4em 0.4em 0.4em 0.4em
  box-shadow: 0 0 5px 2px #ddd
  margin-bottom: 1.5em
  overflow: hidden

.thread-head
  background-color: #333
  border-bottom: 2px solid #4a4a4a
  border-radius: 0.4em 0.4em 0 0
  color: #eee
  padding: 6px 10px
.thread-head:after
  clearfix()
.thread-head-title
  float:left
.thread-head-title a
  color:#eee
.thread-head-board
  float: right
  margin: 3px
  text-align: right

//.thread-posts
 
.thread-post
  padding: 4px 8px  
.thread-post-image
  float: left
  max-width: calc(50% \- 8px)
  max-height: 180px - 8px
  margin-right:8px
  margin-bottom:8px
.thread-post-image img
  width:100%
  max-width: 100%
  max-height: 180px - 8px
.thread-post p:after
  clearfix()